In [2]:
first=input("Enter your total marks in first semester out of 775: ")
second=input("Enter your total marks in second semester out of 750: ")
third=input("Enter your total marks in third semester out of 700: ")
fourth=input("Enter your total marks in fourth semester out of 775: ")
fifth=input("Enter your total marks in fifth semester out of 775: ")
sixth=input("Enter your total marks in sixth semester out of 825: ")
seventh=input("Enter your total marks in seventh semester out of 775: ")
eight=input("Enter your total marks in eighth semester out of 675: ")

Enter your total marks in first semester out of 775 521
Enter your total marks in second semester out of 750 497
Enter your total marks in third semester out of 700 399
Enter your total marks in fourth semester out of 775 582
Enter your total marks in fifth semester out of 775 516
Enter your total marks in sixth semester out of 825 573
Enter your total marks in seventh semester out of 775 545
Enter your total marks in eighth semester out of 675 513

In [4]:
firstp=float(first)/7.75
secondp=float(second)/7.50
thirdp=float(third)/7.00
fourthp=float(fourth)/7.75
fifthp=float(fifth)/7.75
sixthp=float(sixth)/8.25
seventhp=float(seventh)/7.75
eightp=float(eight)/6.75

In [14]:
print(sixthp)

69.45454545454545

In [15]:
finalp=firstp*10/100+secondp*10/100+thirdp*10/100+fourthp*10/100+fifthp*15/100+sixthp*15/100+seventhp*15/100+eightp*15/100

In [16]:
print(finalp)

68.91259042033235